.navbar {
    display:inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.navbar p {
    color: #535353;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;

    padding-top: 30px;
    padding-bottom:30px;
    margin: 25px 0 25px;
}

.navbar p a {
  text-decoration: none;
}

.navbar p a.active {
  color: var(--color-blue);
  border-bottom: 3px var(--color-blue);

}

.navbar p a:hover:not(.active){
  color: var(--color-blue);

  padding-bottom: 15px;
  border-bottom: 3px solid var(--color-blue);
}

.navbar p a:visited{
  color: var(--color-grey);
}

.logout {
  display:inline-flex;
  flex-direction: row;
  display: flex;

  align-items: center;
  justify-content: center;
  text-align: center;
}

.logout img{
  width: 40px;
  height: 40px;
  flex-shrink: 0;

  margin-right: 15px;
}

.logout p a.active {
  color: var(--color-grey);
  border-bottom: none;
}

.logout p a:hover:not(.active){
  color: var(--color-grey);
  border-bottom: none;
}

.logout p a:visited{
  color: var(--color-grey);
}
