.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    
    background: var(--gradient-background);
  }
  
  /* Control the left side */
  .left {
    left: 0;
  }
  
  /* Control the right side */
  .right {
    right: 0;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

input::placeholder {
  color: var(--color-grey);
}

input:focus {
  outline:none;
  box-shadow: -2px 4px 30px 0px rgba(0, 0, 0, 0.25);
}

input:hover {
  outline:none;
  box-shadow: -2px 4px 30px 0px rgba(0, 0, 0, 0.25);
}

button {
  transition-duration: 0.4s;
}

button:hover {
  background-color: var(--color-darker-blue);
}

/* .input {
    display: flex;
    flex-direction: column;
}

input {
    background-color: rgba(65,142,255,0.1);

    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 370px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 12px;
    border: none;
    
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 34px;
}

h1 {
  color: var(--color-blue);
  font-size: 60px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 20px;
}

.suredes{
  color: var(--color-grey);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

button {

width: 370px;
height: 60px;
flex-shrink: 0;

border-radius: 12px;
border: none;
background: var(--color-blue);
box-shadow: -2px 4px 30px 0px rgba(0, 0, 0, 0.25);

margin-top: 18px;

color: white;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal; */

/* } */

