.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

input {
  background-color: var(--color-white2);
  text-align: center;

  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;

  width: 605px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 12px;
  border: none;
}

.table-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 3%;
}

.scrollable {
  width: 80%;
  height: 250px;
  display: flex;
  justify-content: center;
  overflow: scroll;
  overflow-x: auto;
}

.custom-table {
  max-width: 100%;
  background-color: transparent;
  text-align: center;
  border-collapse: collapse;
}

.transparent-table tbody td {
  background-color: transparent;
  border: none;
  padding: 0;
}

.transparent-table thead th {
  background-color: rgba(65, 142, 255, 1);
  /* border-radius: 12px; */
  color: var(--color-white2);
  border: none;
  font-size: 15px;
  font-weight: 600;
}

.transparent-table tbody tr td {
  border-bottom: 1px solid #000000;
  height: 50px;
  line-height: 50px;
  font-size: 15px;
}

.transparent-table thead th:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.transparent-table thead th:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.invoiceID-link,
.supplier-link,
.issuedDate-link,
.dueDate-link,
.amount-link {
  text-decoration: none;
  color: var(--color-grey);
}