/*unable to override*/
.firstrow img {
    border-radius: 50%;
    border: 100px #F3F3F3;

    width: "45px";
    height: "45px";
}

.firstrow {
    display:inline-flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    margin: 0 10%;
}

.profileinfo {
    margin-left: 5%;
}

.profileinfo h1 {
    color: #418EFF;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 0px;
}

.profileinfo h2 {
    color: #418EFF;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    white-space: nowrap;
}

.profileinfo p {
    color: #535353;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.gridheader h3 {
    color: #535353;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-top: 3%;
    margin-left: 7%;
}

.title {
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

p {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.slider {
    margin-top: 30px;
    margin-left: 7%;
    margin-right: 7%;

}

.slider h4 {
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;

    padding-bottom: 10px;
}

.slider p {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.slidecontent {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}